USE [DB_WORKFLOW]
GO
/****** Object:  Table [dbo].[INFO]    Script Date: 7/10/2562 18:34:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INFO](
	[INFO_ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_NAME] [varchar](50) NULL,
	[NAME] [varchar](50) NULL,
	[POSITION] [varchar](50) NULL,
	[DEPT] [varchar](50) NULL,
 CONSTRAINT [PK_INFO] PRIMARY KEY CLUSTERED 
(
	[INFO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MENU]    Script Date: 7/10/2562 18:34:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MENU](
	[MENU_ID] [int] IDENTITY(1,1) NOT NULL,
	[MENU_CODE] [varchar](50) NULL,
	[MENU_NAME] [varchar](50) NULL,
 CONSTRAINT [PK_MENU] PRIMARY KEY CLUSTERED 
(
	[MENU_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[REQUEST]    Script Date: 7/10/2562 18:34:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REQUEST](
	[REQUEST_ID] [varchar](50) NULL,
	[APPROVE_ID] [varchar](50) NULL,
	[SUBJECT] [varchar](50) NULL,
	[DESCRIPTION] [varchar](50) NULL,
	[CREATE_BY] [varchar](50) NULL,
	[CREATE_DATE] [date] NULL,
	[PATH_FILE] [varchar](200) NULL,
	[STATUS] [varchar](50) NULL,
	[NOTE] [varchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[REQUEST_REJECT]    Script Date: 7/10/2562 18:34:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REQUEST_REJECT](
	[REQUEST_ID] [varchar](50) NULL,
	[CREATE_DATE] [datetime] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ROLE]    Script Date: 7/10/2562 18:34:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLE](
	[ROLE_ID] [int] IDENTITY(1,1) NOT NULL,
	[ROLE_NAME] [varchar](45) NULL,
	[ROLE_CODE] [varchar](50) NULL,
 CONSTRAINT [PK__ROLE__5AC4D22228E66CA9] PRIMARY KEY CLUSTERED 
(
	[ROLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[USER]    Script Date: 7/10/2562 18:34:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER](
	[USER_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[USER_NAME] [varchar](50) NULL,
	[USER_PASSWORD] [varchar](50) NULL,
	[USER_ROLE] [varchar](50) NULL,
 CONSTRAINT [PK_USER] PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[INFO] ON 

INSERT [dbo].[INFO] ([INFO_ID], [USER_NAME], [NAME], [POSITION], [DEPT]) VALUES (1, N'admin', N'administrator', N'administrator', N'Administrator')
INSERT [dbo].[INFO] ([INFO_ID], [USER_NAME], [NAME], [POSITION], [DEPT]) VALUES (2, N'man001', N'John', N'Manager', N'Manager')
INSERT [dbo].[INFO] ([INFO_ID], [USER_NAME], [NAME], [POSITION], [DEPT]) VALUES (3, N'man002', N'Mary', N'Manager', N'Manager')
SET IDENTITY_INSERT [dbo].[INFO] OFF
SET IDENTITY_INSERT [dbo].[MENU] ON 

INSERT [dbo].[MENU] ([MENU_ID], [MENU_CODE], [MENU_NAME]) VALUES (1, N'001', N'ส่งคำขอ')
INSERT [dbo].[MENU] ([MENU_ID], [MENU_CODE], [MENU_NAME]) VALUES (2, N'002', N'รายงานผลคำขอ')
INSERT [dbo].[MENU] ([MENU_ID], [MENU_CODE], [MENU_NAME]) VALUES (3, N'003', N'รายงานผลคำขอที่ผ่านการอนุมัติ')
SET IDENTITY_INSERT [dbo].[MENU] OFF
INSERT [dbo].[REQUEST] ([REQUEST_ID], [APPROVE_ID], [SUBJECT], [DESCRIPTION], [CREATE_BY], [CREATE_DATE], [PATH_FILE], [STATUS], [NOTE]) VALUES (N'REQ86805', N'man001', N'test02', N'test02', N'admin', CAST(N'2562-10-07' AS Date), N'~/Document/chapter_5_4.png', NULL, NULL)
INSERT [dbo].[REQUEST] ([REQUEST_ID], [APPROVE_ID], [SUBJECT], [DESCRIPTION], [CREATE_BY], [CREATE_DATE], [PATH_FILE], [STATUS], [NOTE]) VALUES (N'REQ85604', N'man002', N'test', N'test', N'admin', CAST(N'2562-10-02' AS Date), N'PATH_FILE', NULL, NULL)
INSERT [dbo].[REQUEST] ([REQUEST_ID], [APPROVE_ID], [SUBJECT], [DESCRIPTION], [CREATE_BY], [CREATE_DATE], [PATH_FILE], [STATUS], [NOTE]) VALUES (N'REQ85604', N'man002', N'test', N'test', N'admin', CAST(N'2562-10-02' AS Date), N'PATH_FILE', NULL, NULL)
INSERT [dbo].[REQUEST_REJECT] ([REQUEST_ID], [CREATE_DATE]) VALUES (N'REQ86352', CAST(N'2562-10-07T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[ROLE] ON 

INSERT [dbo].[ROLE] ([ROLE_ID], [ROLE_NAME], [ROLE_CODE]) VALUES (1, N'ADMIN', N'001')
INSERT [dbo].[ROLE] ([ROLE_ID], [ROLE_NAME], [ROLE_CODE]) VALUES (2, N'ADMIN', N'002')
INSERT [dbo].[ROLE] ([ROLE_ID], [ROLE_NAME], [ROLE_CODE]) VALUES (3, N'ADMIN', N'003')
SET IDENTITY_INSERT [dbo].[ROLE] OFF
SET IDENTITY_INSERT [dbo].[USER] ON 

INSERT [dbo].[USER] ([USER_ID], [USER_NAME], [USER_PASSWORD], [USER_ROLE]) VALUES (1, N'admin', N'123456', N'ADMIN')
INSERT [dbo].[USER] ([USER_ID], [USER_NAME], [USER_PASSWORD], [USER_ROLE]) VALUES (2, N'man001', N'123456', N'MANAGER')
INSERT [dbo].[USER] ([USER_ID], [USER_NAME], [USER_PASSWORD], [USER_ROLE]) VALUES (3, N'man002', N'123456', N'MANAGER')
SET IDENTITY_INSERT [dbo].[USER] OFF
/****** Object:  StoredProcedure [dbo].[INSERT_REQUEST_REJECT]    Script Date: 7/10/2562 18:34:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[INSERT_REQUEST_REJECT]
	@REQUEST_ID VARCHAR(50) = NULL,
	@DATENOW VARCHAR(50) = NULL
AS
BEGIN
	INSERT INTO REQUEST_REJECT (REQUEST_ID,CREATE_DATE) VALUES  (@REQUEST_ID, CONVERT(DATETIME, @DATENOW, 103))
END


GO
